<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="main-assembly-v2.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="8.77995920021664E-18 3.33633331560031E-18 0.025"
        rpy="0 0 0" />
      <mass
        value="0.0182212373908208" />
      <inertia
        ixx="1.14672320646233E-05"
        ixy="-3.99668079279578E-37"
        ixz="-2.11645111166043E-22"
        iyy="1.14672320646233E-05"
        iyz="5.17138312355946E-22"
        izz="1.53422818830711E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="2.60699757016658E-06 0.00491004431745868 0.039128122497054"
        rpy="0 0 0" />
      <mass
        value="0.109504637985327" />
      <inertia
        ixx="0.000123986166430111"
        ixy="-2.03307427131733E-07"
        ixz="5.65013993857314E-09"
        iyy="0.000131944153642947"
        iyz="1.12629818285015E-05"
        izz="0.000116545340534399" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="0 0 0.05"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="3"
      velocity="3" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="-2.08627330794394E-06 -0.120865995628591 0.0889707817784266"
        rpy="0 0 0" />
      <mass
        value="0.273672988143116" />
      <inertia
        ixx="0.000373480216008195"
        ixy="-1.97657287193073E-07"
        ixz="-2.08957567070311E-07"
        iyy="0.00029451633982656"
        iyz="-4.30737036976176E-20"
        izz="0.000373997377325321" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0 0 0.0470000000000001"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="3"
      velocity="3" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="-2.2350860724175E-06 -0.0144931813417538 0.0873363220228286"
        rpy="0 0 0" />
      <mass
        value="0.127725875376147" />
      <inertia
        ixx="0.000135453398494733"
        ixy="-2.03307427131765E-07"
        ixz="-5.65013993856881E-09"
        iyy="0.000147286435526018"
        iyz="-1.12629818285015E-05"
        izz="0.000128012572599022" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0 -0.244085205862429 0.0940852058624294"
      rpy="-3.14159265358979 0 -3.14159265358979" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="3"
      velocity="3" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="2.60699757022229E-06 0.00787187750294605 0.00491004431745865"
        rpy="0 0 0" />
      <mass
        value="0.109504637985327" />
      <inertia
        ixx="0.000123986166430111"
        ixy="-5.65013993855396E-09"
        ixz="-2.03307427131723E-07"
        iyy="0.000116545340534399"
        iyz="-1.12629818285015E-05"
        izz="0.000131944153642948" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0 -0.144085205862429 0.0940852058624294"
      rpy="0 0 0" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="3"
      velocity="3" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="-2.23508607242031E-06 -0.0144931813417538 0.0873363220228286"
        rpy="0 0 0" />
      <mass
        value="0.127725875376148" />
      <inertia
        ixx="0.000135453398494734"
        ixy="-2.03307427131585E-07"
        ixz="-5.65013993864326E-09"
        iyy="0.000147286435526019"
        iyz="-1.12629818285014E-05"
        izz="0.000128012572599022" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="3"
      velocity="3" />
  </joint>
  <link
    name="link_6">
    <inertial>
      <origin
        xyz="-2.60699757010755E-06 -0.00787187750294605 0.00491004431745873"
        rpy="0 0 0" />
      <mass
        value="0.109504637985327" />
      <inertia
        ixx="0.00012398616643011"
        ixy="-5.65013993846618E-09"
        ixz="2.03307427131724E-07"
        iyy="0.000116545340534399"
        iyz="1.12629818285016E-05"
        izz="0.000131944153642947" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_6"
    type="revolute">
    <origin
      xyz="0 -0.144085205862429 0.0940852058624294"
      rpy="3.14159265358979 0 0" />
    <parent
      link="link_5" />
    <child
      link="link_6" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="3"
      velocity="3" />
  </joint>
  <link
    name="link_7">
    <inertial>
      <origin
        xyz="-2.60699757008729E-06 -0.00491004431745878 0.0862133283594834"
        rpy="0 0 0" />
      <mass
        value="0.109504637985327" />
      <inertia
        ixx="0.000123986166430111"
        ixy="-2.03307427131713E-07"
        ixz="-5.65013993843475E-09"
        iyy="0.000131944153642948"
        iyz="-1.12629818285016E-05"
        izz="0.000116545340534399" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_7"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 3.1416" />
    <parent
      link="link_6" />
    <child
      link="link_7" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="3"
      velocity="3" />
  </joint>
  <link
    name="link_8">
    <inertial>
      <origin
        xyz="5.90316035902619E-05 0.000183540124912937 0.069392235396691"
        rpy="0 0 0" />
      <mass
        value="0.071637125831192" />
      <inertia
        ixx="1.71701617799905E-05"
        ixy="1.15588435926251E-08"
        ixz="-1.38128960896799E-07"
        iyy="1.7752780709147E-05"
        iyz="-1.61491032441127E-09"
        izz="1.92352125721273E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_8.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_8.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_8"
    type="revolute">
    <origin
      xyz="0 0 0.094085"
      rpy="1.5739 0 -0.0028481" />
    <parent
      link="link_7" />
    <child
      link="link_8" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_9">
    <inertial>
      <origin
        xyz="-1.91980631870241E-05 1.63706528088323E-06 0.0159105805471755"
        rpy="0 0 0" />
      <mass
        value="0.0123651338818199" />
      <inertia
        ixx="3.75227385214054E-06"
        ixy="-7.13590139777101E-07"
        ixz="-4.06670465582455E-22"
        iyy="5.34122654103211E-06"
        iyz="4.39717567638709E-22"
        izz="2.77612526762872E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_9.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_9.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_9"
    type="prismatic">
    <origin
      xyz="0.00025145 0.00027188 0.088284"
      rpy="0.0029661 0.0029661 1.6098" />
    <parent
      link="link_8" />
    <child
      link="link_9" />
    <axis
      xyz="1 -0.0023625 0" />
    <limit
      lower="-0.05"
      upper="0.05"
      effort="3"
      velocity="3" />
  </joint>
</robot>