<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="main-assembly-v2.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="8.78E-18 3.3363E-18 0.025"
        rpy="0 0 0" />
      <mass
        value="0.018221" />
      <inertia
        ixx="1.1467E-05"
        ixy="-3.9967E-37"
        ixz="-2.1165E-22"
        iyy="1.1467E-05"
        iyz="5.1714E-22"
        izz="1.5342E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="-1.5247E-05 0.0047463 0.039092"
        rpy="0 0 0" />
      <mass
        value="0.10906" />
      <inertia
        ixx="0.00012326"
        ixy="-1.3586E-07"
        ixz="2.5538E-08"
        iyy="0.00013158"
        iyz="1.1434E-05"
        izz="0.00011585" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="0 0 0.05"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="3"
      velocity="3" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="1.2192E-05 -0.12079 0.089026"
        rpy="0 0 0" />
      <mass
        value="0.27278" />
      <inertia
        ixx="0.00037202"
        ixy="-1.1032E-07"
        ixz="-1.614E-07"
        iyy="0.00029345"
        iyz="-1.2572E-20"
        izz="0.00037293" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0 0 0.047"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="3"
      velocity="3" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="1.3064E-05 -0.014386 0.08731"
        rpy="0 0 0" />
      <mass
        value="0.12728" />
      <inertia
        ixx="0.00013473"
        ixy="-1.3586E-07"
        ixz="-2.5538E-08"
        iyy="0.00014692"
        iyz="-1.1434E-05"
        izz="0.00012731" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0 -0.24409 0.094085"
      rpy="-3.1416 0 -3.1416" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="3"
      velocity="3" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="-1.5247E-05 0.0079075 0.0047463"
        rpy="0 0 0" />
      <mass
        value="0.10906" />
      <inertia
        ixx="0.00012326"
        ixy="-2.5538E-08"
        ixz="-1.3586E-07"
        iyy="0.00011585"
        iyz="-1.1434E-05"
        izz="0.00013158" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0 -0.14409 0.094085"
      rpy="0 0 0" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="3"
      velocity="3" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="1.3064E-05 -0.014386 0.08731"
        rpy="0 0 0" />
      <mass
        value="0.12728" />
      <inertia
        ixx="0.00013473"
        ixy="-1.3586E-07"
        ixz="-2.5538E-08"
        iyy="0.00014692"
        iyz="-1.1434E-05"
        izz="0.00012731" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="3"
      velocity="3" />
  </joint>
  <link
    name="link_6">
    <inertial>
      <origin
        xyz="1.5247E-05 -0.0079075 0.0047463"
        rpy="0 0 0" />
      <mass
        value="0.10906" />
      <inertia
        ixx="0.00012326"
        ixy="-2.5538E-08"
        ixz="1.3586E-07"
        iyy="0.00011585"
        iyz="1.1434E-05"
        izz="0.00013158" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_6"
    type="revolute">
    <origin
      xyz="0 -0.14409 0.094085"
      rpy="3.1416 0 0" />
    <parent
      link="link_5" />
    <child
      link="link_6" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="3"
      velocity="3" />
  </joint>
  <link
    name="link_7">
    <inertial>
      <origin
        xyz="1.5247E-05 -0.0047463 0.086178"
        rpy="0 0 0" />
      <mass
        value="0.10906" />
      <inertia
        ixx="0.00012326"
        ixy="-1.3586E-07"
        ixz="-2.5538E-08"
        iyy="0.00013158"
        iyz="-1.1434E-05"
        izz="0.00011585" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_7"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 -3.1416" />
    <parent
      link="link_6" />
    <child
      link="link_7" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="3"
      velocity="3" />
  </joint>
</robot>